.footer {
    background: $theme-color;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
    min-height: 600px;
    .footer-shape {
        background: url(../img/footer-shape.png);
        background-repeat: repeat-x;
        background-position: center;
        background-size: 100% 100%;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 12px;
        z-index: 1;
    }
    .footer__thumb {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        max-width: 518px;
        @include responsive(desktop) {
            max-width: 405px;
        }
        @include responsive(tab) {
            display: none;
        }
    }
    .footer__form {
        max-width: 450px;
        margin-left: auto;
        padding-top: 20px;
        @include responsive(tab) {
            margin: 0 auto;
        }
    }
    .footer__form p {
        font-size: 18px;
        color: $white;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 32px;
    }
    .form-input {
        margin-bottom: 19px;
    }
    .form-input input {
        width: 100%;
        height: 43px;
        outline: none;
        border-radius: 50px;
        padding: 9px 20px;
        font-size: 18px;
        font-weight: 600;
        color: $white;
        background: transparent;
        border: 1px solid $white;
    }
    .form-submit button {
        width: 156px;
        height: 42px;
        background: $yellow-color;
        border: 0;
        outline: none;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 800;
        color: $theme-color;
        @include responsive(phone) {
            width: 100%;
        }
    }
    .form-submit {
        margin-bottom: 40px;
        @include responsive(tab) {
            text-align: center !important;
        }
    }
    .form-check label {
        font-size: 14px;
        font-weight: 600;
        color: $white;
        margin-left: 10px;
    }
    .form-check {
        @include responsive(tab) {
            justify-content: center !important;
        }
    }
    .form-check input {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        position: relative;
        top: -2px;
    }
    .footer__social {
        margin-left: 22px;
        @include responsive(tab) {
            margin-left: 0;
            margin-bottom: 16px;
        }
        a {
            margin-left: 15px;
        }
    }
    .footer__text {
        padding-top: 70px;
        @include responsive(desktop) {
            padding-top: 55px;
            max-width: 600px;
            margin-left: auto;
            text-align: end;
        }
        @include responsive(tab) {
            margin: 0 auto;
            flex-direction: column-reverse;
            text-align: center !important;
        }
        p {
            font-size: 14px;
            font-weight: 600;
            color: $white;
            margin: 0;
            line-height: 1.1;
        }
    }
}
.madona-2.d-none {
    max-width: 400px;
    margin: 0 auto;
    @include responsive(tab) {
        display: block !important;
    }
    @include responsive(phone) {
        max-width: 250px;
    }
    @include responsive(phone-sm) {
        max-width: 210px;
    }
}
