.hero__area {
    padding-top: 10px;
    position: relative;
    .container {
        @include responsive(phone-sm) {
            padding: 0;
        }
    }
    .hero__slide {
        height: 660px;
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 35% 35% 0px 0px;
        @include responsive(desktop) {
            height: 560px;
        }
        @include responsive(tab) {
            height: 470px;
        }
        @include responsive(phone) {
            height: 390px;
        }
        @include responsive(phone-sm) {
            height: 290px;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &.has-shadow::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            content: "";
            background: #000;
            opacity: 0.3;
        }
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive(phone-sm) {
            top: auto;
            justify-content: center;
            align-items: center;
            bottom: -19px;
        }
        & button {
            height: 40px;
            width: 40px;
            border-radius: 50px;
            background: $light-bg !important;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: $theme-color !important;

            &.owl-prev {
                position: relative;
                left: -20px;
                @include responsive(phone-sm) {
                    left: 0;
                    border-radius: 50px 0 0 50px;
                }
            }
            &.owl-next {
                position: relative;
                right: -20px;
                @include responsive(phone-sm) {
                    right: 0;
                    border-radius: 0 50px 50px 0;
                }
            }
        }
    }
}

.hero__content__area {
    padding-top: 105px;
    padding-bottom: 50px;
    position: relative;
    @include responsive(tab) {
        padding-top: 75px;
        padding-bottom: 20px;
    }
    @include responsive(phone) {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .hero__content__wrapper {
        h3 {
            padding-bottom: 25px;
        }
    }
    .hero__shape-1 {
        position: absolute;
        top: 75px;
        z-index: -1;
        left: 0;
        overflow: hidden;
        @include responsive(tab) {
            top: 55px;
            max-width: 285px;
        }
        @include responsive(phone) {
            display: none;
        }
        img {
            position: relative;
            left: -50px;
        }
    }
}
.has-mw p {
    max-width: 608px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.tomato-1 {
    position: absolute;
    right: 0;
    bottom: -2px;
    max-width: 151px;
    overflow: hidden;
    z-index: -1;
    @include responsive(tab) {
        max-width: 120px;
    }
    @include responsive(phone) {
        display: none;
    }
    img {
        position: relative;
        right: -25px;
    }
}
.tomato-2 {
    position: absolute;
    right: 0;
    top: -14px;
    max-width: 131px;
    z-index: -1;
    @include responsive(tab) {
        max-width: 105px;
    }
    @include responsive(phone) {
        display: none;
    }
}
.no-after-bg::after {
    background: transparent !important;
}
