@mixin theme-btn--hover {
    background-color: #333;
    color: $white;
}

@mixin theme-btn {
    background: $theme-color;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    padding: 14px 23px;
    transition: 0.3s;
    text-decoration: none;
    border: 0;
    color: $white;
    outline: none;
    line-height: 1.1;
    border-radius: 5px;
} 
@mixin section-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
} 