$theme-color: #003063;
$title-color: #2b5974;
$light-bg: #FFFBEF;
$link-color: #003063;
$yellow-color: #ffc000;
$dark: #020202;
$blue-color: #3476bc;
$white: #fff;
$text-color: #212427;
$border-color: #70707077;
